* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }
  .main_header{
    display: flex;
    flex-wrap: wrap;
    border: none;
    background-color: red;
    color: white;
    padding: 8px 20px 0px 20px;
}
.social_item{
    flex: 25%;
    max-width: 30%;
    text-align: center;
}
.social{
    background-color: black; 
    color: white;
    border: 1px solid black; 
    border-radius:18px;
    height:35px; 
    padding-top: 8px;
    width:35px;
    text-align: center;
}
.social_item a:hover{
    background-color: white;
    color: black;
}
.telephone{
    flex: 25%;
    max-width: 30%;
    display: flex;
    justify-content:center;
}
.telephone_text{margin-top: -15px;}
.telephone_text h5{ padding:0px 0px 0px 10px;font-size: 15px;line-height: 0;}
.search{flex: 50%; max-width: 50%;  display: flex; justify-content:center;}

.search_button{
    padding-left: 40px;
    opacity: 0.9;
    height: 40px;
    width: 300px;
}
.search span{
    background-color: rgb(14, 4, 75);
    height: 40px;
    padding: 10px;
    width:35px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
.second_header{
    display: flex;
    flex-wrap: nowrap;
    padding:20px;
}
.second_header_image{flex: 20%; }
.second_header_gif{flex: 70%;}
.logo, .nav_bar_icon{
    background-color: rgb(139, 127, 127); 
    color: red;
    height:55px; 
    width:100px;
    font-size: 30px;
}
.logo i{color: red;}
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: rgb(14, 4, 75);
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  .navbar_resp{display: none;}
  .navbar_resp a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav_icon{
    display: flex;
    flex-wrap: wrap;
  }
  .home_icon{
      flex: 85%;
      max-width: 80%;
  }
  .nav_hidden_icon{
      flex: 15%;
      max-width: 20%;
      margin-top: -14px;
  }
  .nav_item{
    display: flex;
    flex-direction: column;
  }
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Sidebar/left column */
  .right {
    flex: 25%;
    background-color: white;
    padding: 20px 40px 20px 20px;
  }
  
  .back_title_part {
    padding: 8px;
    margin-bottom: 18px;
    border-bottom: solid 1px rgba(0,0,0,.1);
}

.back_title_part a {
    display: inline-block;
    line-height: 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0,0,0,.68);
    text-decoration: none;
    padding: 0 5px;

}
.back_title_part a:hover{color: red;}
.back_title_part > .current_page{color: red;}
.main h1{
    display: flex;
    justify-content: center;
}
  /* Main column */
  .left {
    flex: 75%;
    background-color: white;
    padding: 20px 20px 20px 40px;
  }
  
  /* Fake image, just for this example */
  .fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
  }
  
  /* Footer */
  .footer {
      display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: rgb(14, 4, 75);
  }
  .footer_img{
      flex: 10%;
      margin-top: -20px;
      max-width: 25%;
  }
  .main_footer_first{
      flex: 20%;
      max-width: 25%;
      line-height: 0.2;
  }
  .main_footer_first h1{font-size: 45px;}
  .main_footer_first h6{font-size: 15px;}
  .main_footer{
      flex: 15%;
      color: white;
      max-width: 15%;
  }
  .main_footer h6{font-size: 15px;}
  .btn{
      background-color: red;
      color: white;
      width: 100%;
      padding: 0px;
      font-size: 18px;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: 5px;
      font-weight: bold;
      height:40px;
  }
  .right_advertisement{margin-top: -25px;}
  .advertisement h6{
      padding: 10px 0px 0px 10px;
      font-size: 14px;
      color: red;
  }
  .advertisement img{margin-top: -20px;}
  .advertisement{
      background-color: rgb(201, 197, 197);
  }
  .btn_value{padding: 0px 0px 10px 60px;}
  .btn_2{
      background-color: rgb(14, 4, 75);
      color: white;
      border: 1px solid rgb(14, 4, 75);
      border-radius: 12px;
      font-size: 24px;
      text-align: center;
      width: 150px;
      height: 40px;
      border: none;
  }
  .advertisement_gif{margin: 15px 0px;}
  .second_nav_owl{display: flex; flex-wrap: wrap;}
    .second_nav_bar_notmove{
        flex: 30%;
        max-width: 8%;
        background-color:  red;
        padding: 10px 0px 0px 10px;
        display: inline-block;
        height: 40px;
    }
  .second_nav_bar{
      flex: 70%;
      max-width: 92%;
    background-color:  red;
    padding: 10px 0px 0px 10px;
    display: inline-block;
    width: 100%;
    height: 40px;
}
.second_notmove{
    color: rgb(56, 36, 187);
    text-decoration: none;
    font-weight: bold;
    padding-left: 5px;
    padding-right:15px; 
    width: 100%;
}
.second{
    color: rgb(56, 36, 187);
    text-decoration: none;
    font-weight: bold;
    border-right-style: solid;
    padding-left: 5px;
    padding-right:15px; 
    width: 100%;
}
.second_notmove, .second:hover{
    text-decoration: none;
    color: white;
}
.second_notmove, .second_nav_bar > a:active {
    color: white;
}
.owl-dots, .owl-nav{
    display: none;
}
.samachar_news{display: flex; flex-wrap: wrap;}
.samachar_img{padding: 20px 0px 10px 0px;}
.samachar_news p{font-size: 20px; text-align: justify;}


.All_News_Page{
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
}
.Show_news {
  flex: 0 0 30%;
  flex-wrap: wrap;
  margin: 0 1.66% 30px;
  align-content: flex-start;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.1) 0 0 16px;
  width: 100%;
  position: relative;
}
.News_Img{
  max-width: 100%;
  height: 240px;
  min-width: 100%;
  background-color: #000;
  overflow: hidden;
}
.News_Img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all .3s ease;
}
.News_Text{
  padding: 20px;
  align-self: center;
}
.News_Text a{text-decoration: none;
  transition: all .3s ease;
  line-height: 120%;
  font-weight: 500;
}
.owl_news_heading{display: flex; flex-wrap: wrap; padding: 0px 25px; border-bottom: solid 1px rgba(0,0,0,.1);}
.all_news_heading{display: flex; flex-wrap: wrap; border-bottom: solid 1px rgba(0,0,0,.1);}
.news_heading{flex:95%; max-width: 95%;}
.news_heading_all_details{flex:5%; max-width: 5%;}
.owl_news_heading a{text-decoration: none;}
.all_news_heading a{text-decoration: none;}
.last{
      display: flex;
      flex-direction: column;
  }
  .last--footer{display: flex; justify-content: center; background-color: black; color: white;}
  .last a{
      text-decoration: none;
      opacity: 0.6;
      color: white;
  }
  .last a:hover{
      text-decoration: none;
      opacity: 1.0;
      color: white;
  }
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .social_item{ flex:100%; max-width: 100%; padding-bottom: 10px;}
    .telephone{ flex:100%;  max-width: 100%;}
    .search{flex: 100%; max-width: 100%; padding-bottom: 10px;}
    .second_nav_bar_notmove{max-width: 100%; text-align: center;}
    .second_nav_bar{max-width: 100%;}
    .All_News_Page{padding:15px 15px 15px 0px;}
    .navbar{display: none;}
    .navbar_resp{display: block; background-color: rgb(14, 4, 75);}
    .row, .navbar, .navbar_resp, .All_News_Page{   
      flex-direction: column;
    }
    .left{padding: 20px;}
    .right{display: none;}
    .main h1{
        font-size: 16px;
    }
    .footer_img{
      flex: 30%;
      max-width: 25%;
  }
  .main_footer_first{
      flex: 70%;
      max-width: 75%;
      text-align: center;
  }
  .main_footer{
      flex: 10%;
      max-width: 25%;
  }
  .last--footer{font-size: 10px;}
  }